{% extends '::base.html.twig' %}

{% block body %}
    <style>
        .cont{
            overflow: hidden;
        }
        .listaContatos{
            text-decoration: none;
        }
    </style>

    <div style="text-align: center;">
        {% if rota == "ativos" %}
            <h2>Serviços Ativos</h2>
        {% else %}
            <h2>Serviços Desativados</h2>
        {% endif %}
    </div>
    <div style="margin: 10px;" class="cont row">
        <div class="col-2"></div>
        <table class="table table-hover col-8">

            <thead>
            <tr>
                {#<th scope="col">ID</th>#}
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Data Ultima Atualização</th>
                <th scope="col">Editar</th>
                <th scope="col">Desativar</th>
            </tr>
            </thead>
            <tbody>

            {% for servico in servicos %}
                <tr>
                    <form id="formtab{{ servico.posicao }}" method="post">
                    <td id="nome{{ servico.posicao }}">{{ servico.Nomeservico }}</td>
                    <td id="preco{{ servico.posicao }}">{{ servico.Preco }}</td>

                    <td id="nomeinput{{ servico.posicao }}" hidden><input class="form-control" type="text" id="nome" name="nome" value="{{ servico.Nomeservico }}"></td>
                    <td id="precoinput{{ servico.posicao }}" hidden><input class="form-control" type="text" id="preco" name="preco" value="{{ servico.Preco }}"></td>
                    <td>{{ servico.dtAtualizacao|date('d/m/Y') }}</td>
                    <td>
                        <button type="button" class="btn btn-info" id="btn-editar{{ servico.posicao }}" >Editar</button>
                        <button type="button" class="btn btn-info" id="btn-salvar{{ servico.posicao }}" hidden>Salvar</button>
                    </td>
                    <input hidden name="invisivel" value="{{ servico.id }}">
                    </form>
                    <td>
                        {% if servico.Status == "1" %}
                            <a href="desativar/{{ servico.id }}"><button type="button" class="btn btn-warning">Desativar</button></a>
                        {% else %}
                            <a href="ativar/{{ servico.id }}"><button type="button" class="btn btn-warning">Ativar</button></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            <tr id="cadastro" hidden>
                <form action="../Servico/novo" method="post" id="form">
                    <td><input class="form-control" type="text" id="nome" name="nome" placeholder="Nome servico"></td>
                    <td><input class="form-control" type="text" id="preco" name="preco" placeholder="preco"></td>
                    <td></td>
                    <td><input class="btn btn-success col-12" type="submit" value="Cadastrar"></td>
                    <td></td>
                </form>
            </tr>
            </tbody>

        </table>
        <div class="col-2"></div>
        <div class="col-4"></div>
        <div id="trbtnAgendar" class="col-4">
            {#<td colspan="4">#}
            <button type="button" id="servico" onclick="xamaServiço()" class="btn text-white bg-info" style="width: 90%; margin-left: 5%; margin-right: 5%;">Novo Serviço</button>
            {#</td>#}
        </div>
        <div class="col-4"></div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script>
        function xamaServiço() {
            document.getElementById('cadastro').removeAttribute("hidden");
            document.getElementById('trbtnAgendar').setAttribute("hidden", true);
        }
        {% for servico in servicos %}
        $('#btn-editar{{ servico.posicao }}').click(function () {
            $('#nome{{ servico.posicao }}').attr("hidden", true)
            $('#nomeinput{{ servico.posicao }}').attr("hidden", false)
            $('#preco{{ servico.posicao }}').attr("hidden", true)
            $('#precoinput{{ servico.posicao }}').attr("hidden", false)
            $('#btn-editar{{ servico.posicao }}').attr("hidden", true)
            $('#btn-salvar{{ servico.posicao }}').attr("hidden", false)
        })
        $('#btn-salvar{{ servico.posicao }}').click(function () {
            $('#formtab{{ servico.posicao }}').submit();
        })
        {% endfor %}
    </script>
{%  endblock %}
